{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block page-name %}Password Reset{% endblock %}

{% block link__map %}
	<a href="{% url 'home' %}">Home</a>
	<span><i class="fas fa-angle-double-right"></i></span> 
	<a href="{% url 'reset_password' %}">Password Reset</a> 
{% endblock %}

{% block mobile__link__map %}
	<span><i class="fas fa-angle-double-left"></i></span>
	<a href="{% url 'home' %}">Home</a>	
{% endblock %}

{% block content %}
	<div class="page-title">
		<center>Password Reset</center>
	</div>
	<div class="pass-reset-wrapper">
		<div class="pass-reset">
			<span>Forgotten your password? Ender you email below and we'll send instructions for setting a new one.</span>
			<form method="POST">
				{% csrf_token %}
				{{ form|crispy }}
				<input type="submit" name="Send email" class="send_pass_reset" value="sumbit">
			</form>
		</div>
	</div>
{% endblock %}
