{% extends 'main/layout.html' %}
{% load static %}

{% block page-name %}Password Reset{% endblock %}

{% block link__map %}
	<a href="{% url 'home' %}">Home</a>
	<span><i class="fas fa-angle-double-right"></i></span> 
	<a href="{% url 'reset_password' %}">Password Reset</a> 
{% endblock %}

{% block mobile__link__map %}
	<span><i class="fas fa-angle-double-left"></i></span>
	<a href="{% url 'home' %}">Home</a>	
{% endblock %}

{% block content %}
	<div class="page-title">
		<center>Password Reset</center>
	</div>
	<div class="pass-reset-wrapper">
		<div class="pass-reset">
			<span>Your password has been set. You may go ahead and <a href="{% url 'login' %}">login now</a></span>
		</div>
	</div>
{% endblock %}